<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inyoung's page</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
    <br><br><br><br><br><br>
    <p class="home_text">Welcome to the inyoung's page.</p>
    <table class="home_class">
        <tr>
            <td><a href="./about_me.html">About me
            <p>저에 대해 <br>소개하는 페이지입니다.</p></a></td>

            <td><a href="./favorite.html">Favorite
            <p>제가 좋아하는 것을<br> 소개하는 페이지입니다.</p></a></td>
            <td><a href="./contact.html">Contact
            <p>contact하고 싶으시면<br> 여기로 들어가주세요.</p></a></td>
        </tr>
    </table>
</body>
</html>