<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
    <!--헤더-->
    <header>
        <h1 class="logo"><a href="./index.html"><b>home</b></a></h1>
        <nav class="nav">
            <ul class="menu-list">
                <li class="menu-list-item"><a href="#">About me</a></li>
                <li class="menu-list-item"><a href="./favorite.html">Favorite</a></li>
                <li class="menu-list-item"><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <!--본문-->
    <br><br><br>
    <div class="aboutme_box">
        <div class="first_box">
            <div class="me_img_box"><img src="../static/images/about_me/aboutme_img1.jpg" alt="서인영 사진"></div>
            <div class="me_edu_box">
                <h2>Education</h2>
                <p>광운대학교,<br>정보융합학부,<br>컨텐츠 테크놀러지과 (재학중)</p>
            </div>
            <div class="me_mbti_box">
                <h2>MBTI</h2>
                <p>저의 mbti는 ESTP입니다. 꽤 나름 정확^^;;</p>
                <table class="mbti_table">
                    <tr>
                        <td>I</td>
                        <td><div class="mbti graph1"><span></span></div></td>
                        <td>E</td>
                    </tr>
                    <tr>
                        <td>S</td>
                        <td><div class="mbti graph2"><span></span></div></td>
                        <td>N</td>
                    </tr>
                    <tr>
                        <td>F</td>
                        <td><div class="mbti graph3"><span></span></div></td>
                        <td>T</td>
                    </tr>
                    <tr>
                        <td>P</td>
                        <td><div class="mbti graph4"><span></span></div></td>
                        <td>J</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="second_box">
            <div class="me_info_box">
                <h2>Brief introduction</h2>
                <p><b>Name :</b> 서인영</p>
                <p><b>Birth :</b> 1997.07.17</p>
                <p><b>Hobby : </b> 운동, 사진찍기</p>
                <p><b>Special thing : </b> 사진 보정하기</p>
                <p><b>Favorite thing : </b>여행, 맛집 찾아다니기</p>
            </div>
            <div class="me_skill">
                <h2>Skills</h2>
                <p>제가 다룰 수 있는 프로그램들입니다.</p>
                <table class="skill_table">
                    <tr>
                        <td><img src="../static/images/about_me/skill_1.png" alt="일러스트"></td>
                        <td><img src="../static/images/about_me/skill_2.png" alt="포토샵"></td>
                        <td><img src="../static/images/about_me/skill_3.png" alt="html5"></td>
                        <td><img src="../static/images/about_me/skill_4.png" alt="css3"></td>
                    </tr>
                    <tr>
                        <td><img src="../static/images/about_me/skill_5.png" alt="파이썬"></td>
                        <td><img src="../static/images/about_me/skill_6.png" alt="자바"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="third_box">
            <div class="me_social"><h2>Social</h2>
                <table class="social_table">
                    <tr><td><img src="../static/images/about_me/social_1.png" alt="인스타합니다."></td>
                    <td><img src="../static/images/about_me/social_2.png" alt="페이스북합니다."></a></td></tr>
                </table>
            </div>
            <div class="me_career"><h2>Experiece</h2>
                <p><b>2019.01~08</b><br>디랩코드아카데미 인턴</p>
            </div>
            <div class="me_project"><h2>Project</h2>
                <p>앞으로 많이 채워 나갈 예정입니다.</p>
            </div>
        </div>
    </div>
</body>
</html>